pricing-service/wsdl/PricingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  BigCorp Pricing Service WSDL
  
  Generated by hand because the WSDL editor kept crashing.
  If you need to regenerate this, good luck. The Cape Clear 
  tool might work if you can find the license key.
  
  Author: Dave (with help from the Wrox "Professional SOAP" book)
  Last modified: 2001-04-18
  
  NOTE: The namespace URIs below are what the clearinghouse expects.
  Do NOT change them without coordinating with their IT team.
  We tried once and it took 3 weeks to sort out.
-->
<definitions name="PricingService"
    targetNamespace="http://pricing.bigcorp.com/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://pricing.bigcorp.com/wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:types="http://pricing.bigcorp.com/types">

    <!-- ============================================================ -->
    <!-- Types - XML Schema for request/response messages              -->
    <!-- ============================================================ -->
    <types>
        <xsd:schema targetNamespace="http://pricing.bigcorp.com/types"
                    xmlns:tns="http://pricing.bigcorp.com/types"
                    elementFormDefault="qualified">

            <!-- Single quote request -->
            <xsd:element name="QuoteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="symbol" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Batch quote request (multiple symbols) -->
            <xsd:element name="BatchQuoteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="symbol" type="xsd:string" 
                                     maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Response for a single quote -->
            <xsd:element name="QuoteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="symbol" type="xsd:string"/>
                        <xsd:element name="bidPrice" type="xsd:double"/>
                        <xsd:element name="askPrice" type="xsd:double"/>
                        <xsd:element name="lastPrice" type="xsd:double"/>
                        <xsd:element name="currency" type="xsd:string"/>
                        <xsd:element name="timestamp" type="xsd:dateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Response for batch quotes -->
            <xsd:element name="BatchQuoteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="quote" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="symbol" type="xsd:string"/>
                                    <xsd:element name="bidPrice" type="xsd:double"/>
                                    <xsd:element name="askPrice" type="xsd:double"/>
                                    <xsd:element name="lastPrice" type="xsd:double"/>
                                    <xsd:element name="currency" type="xsd:string"/>
                                    <xsd:element name="timestamp" type="xsd:dateTime"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Fault element for when things go wrong (they will) -->
            <xsd:element name="PricingFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorCode" type="xsd:string"/>
                        <xsd:element name="errorMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- ============================================================ -->
    <!-- Messages                                                      -->
    <!-- ============================================================ -->
    <message name="GetQuoteInput">
        <part name="parameters" element="types:QuoteRequest"/>
    </message>

    <message name="GetQuoteOutput">
        <part name="parameters" element="types:QuoteResponse"/>
    </message>

    <message name="GetBatchQuotesInput">
        <part name="parameters" element="types:BatchQuoteRequest"/>
    </message>

    <message name="GetBatchQuotesOutput">
        <part name="parameters" element="types:BatchQuoteResponse"/>
    </message>

    <message name="PricingFaultMessage">
        <part name="fault" element="types:PricingFault"/>
    </message>

    <!-- ============================================================ -->
    <!-- Port Type (the "interface" in modern terms)                   -->
    <!-- ============================================================ -->
    <portType name="PricingServicePortType">

        <operation name="getQuote">
            <documentation>
                Get a price quote for a single symbol.
                Returns bid, ask, last prices plus currency and timestamp.
            </documentation>
            <input message="tns:GetQuoteInput"/>
            <output message="tns:GetQuoteOutput"/>
            <fault name="PricingFault" message="tns:PricingFaultMessage"/>
        </operation>

        <operation name="getBatchQuotes">
            <documentation>
                Get price quotes for multiple symbols at once.
                Internally just calls getQuote in a loop, but the
                client doesn't need to know that.
            </documentation>
            <input message="tns:GetBatchQuotesInput"/>
            <output message="tns:GetBatchQuotesOutput"/>
            <fault name="PricingFault" message="tns:PricingFaultMessage"/>
        </operation>

    </portType>

    <!-- ============================================================ -->
    <!-- Binding (document/literal)                                    -->
    <!-- ============================================================ -->
    <binding name="PricingServiceSoapBinding" type="tns:PricingServicePortType">
        <soap:binding style="document" 
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getQuote">
            <soap:operation soapAction="http://pricing.bigcorp.com/getQuote"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PricingFault">
                <soap:fault name="PricingFault" use="literal"/>
            </fault>
        </operation>

        <operation name="getBatchQuotes">
            <soap:operation soapAction="http://pricing.bigcorp.com/getBatchQuotes"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PricingFault">
                <soap:fault name="PricingFault" use="literal"/>
            </fault>
        </operation>

    </binding>

    <!-- ============================================================ -->
    <!-- Service                                                       -->
    <!-- ============================================================ -->
    <service name="PricingService">
        <documentation>
            BigCorp Pricing Service - provides real-time(ish) price quotes.
            "Real-time" means "as recent as the last batch load from the 
            mainframe, which runs every 15 minutes during market hours."
        </documentation>
        <port name="PricingServicePort" binding="tns:PricingServiceSoapBinding">
            <!-- 
                URL below is for the dev environment. 
                Production URL is on the F5 load balancer: 
                http://pricing.internal.bigcorp.com/services/PricingService
                (but you need to be on the office network or VPN)
            -->
            <soap:address location="http://localhost:8080/pricing-service/services/PricingService"/>
        </port>
    </service>

</definitions>
